:root {
  --background-color: #252525;
  --border-color: #303434;
  --p-color-text: #74c2b6;
  --s-color-text: #568f85;
  --white: #fff;
  --linear-grad-blue: rgb(11, 74, 101), rgb(26, 111, 148), rgb(18, 150, 206),
    rgb(18, 106, 144), rgb(10, 84, 115);
  --linear-grad-red: rgb(113, 16, 16), rgb(148, 33, 33), rgb(171, 43, 43),
    rgb(150, 29, 29), rgb(109, 18, 18);
  --linear-grad-yellow: rgb(181, 181, 19), rgb(186, 186, 10), rgb(199, 199, 27),
    rgb(170, 170, 16), rgb(163, 163, 14);
  --linear-grad-green: rgb(2, 120, 22), rgb(17, 153, 40), rgb(33, 190, 59),
    rgb(17, 154, 40), rgb(9, 100, 24);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  min-height: auto;
  text-align: center;
  font-family: cursive;
}

.main_game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mini_ball {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  border-radius: 50%;
  top: 43px;
  z-index: 4;
}

.mini_genius {
  position: relative;
  display: grid;
  grid-template-areas:
    "mini_green mini_red"
    "mini_yellow mini_blue";
  grid-gap: 3px;
  border: 4px solid var(--border-color);
  background-color: var(--border-color);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  top: -30px;
}

.mini_blue {
  grid-area: mini_blue;
  background-image: linear-gradient(var(--linear-grad-blue));
  border-bottom-right-radius: 100%;
}

.mini_red {
  grid-area: mini_red;
  background-image: linear-gradient(var(--linear-grad-red));
  border-top-right-radius: 100%;
}

.mini_yellow {
  grid-area: mini_yellow;
  background-image: linear-gradient(var(--linear-grad-yellow));
  border-bottom-left-radius: 100%;
}

.mini_green {
  grid-area: mini_green;
  background-image: linear-gradient(var(--linear-grad-green));
  border-top-left-radius: 100%;
}

.introduction {
  width: 100%;
  max-width: calc(100% - 5rem);
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.start_container {
  border: 1px dotted var(--p-color-text);
  padding: 0.7rem;
}

h1 {
  color: var(--p-color-text);
  margin-bottom: 0.5rem;
}

.start_instruction {
  color: var(--white);
  animation: blinkStart ease-in-out 2s 0.3s infinite;
}

.game_instruction {
  color: var(--s-color-text);
  margin: 1.5rem 0;
}

.score {
  position: relative;
  display: none;
  gap: 30px;
  color: var(--white);
  top: 20px;
}

.ball {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: var(--background-color);
  border: 10px solid var(--border-color);
  border-radius: 100%;
  display: none;
  top: 300px;
  z-index: 4;
  animation: showGenius linear 1s 1;
}

.genius {
  position: relative;
  display: none;
  grid-template-areas:
    "green red"
    "yellow blue";
  grid-gap: 10px;
  border: 10px solid var(--border-color);
  background-color: var(--border-color);
  border-radius: 100%;
  width: 500px;
  height: 500px;
  animation: showGenius linear 1s 1;
  top: -50px;
}

.blue {
  grid-area: blue;
  background-image: linear-gradient(var(--linear-grad-blue));
  border-bottom-right-radius: 100%;
}

.red {
  grid-area: red;
  background-image: linear-gradient(var(--linear-grad-red));
  border-top-right-radius: 100%;
}

.yellow {
  grid-area: yellow;
  background-image: linear-gradient(var(--linear-grad-yellow));
  border-bottom-left-radius: 100%;
}

.green {
  grid-area: green;
  background-image: linear-gradient(var(--linear-grad-green));
  border-top-left-radius: 100%;
}

.selected {
  filter: blur(8px);
}

/* .game_over {
  position: relative;
  z-index: 5;
  color: red;
  width: 200px;
  height: 100px;
  animation: downMessage 5s linear 1;
} */



